<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activities.data.IconPackApp"
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activities.activities.HelpFunctionsActivity"
            android:label="@string/helpFunctionsName" />
        <activity
            android:name=".activities.activities.HelpConceptsActivity"
            android:label="@string/helpConceptsName" />
        <activity
            android:name=".activities.activities.HelpActivity"
            android:label="@string/help_name" />
        <activity
            android:name=".activities.activities.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.activities.EditProfileActivity"
            android:label="@string/editProfile_name"
            android:screenOrientation="portrait"
            android:theme="@style/myTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.activities.EditEntryActivity"
            android:label="@string/editEntry_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.activities.AddEntryActivity"
            android:label="@string/addEntry_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.activities.DataSearch"
            android:label="@string/dataSearch_name" />
        <activity
            android:name=".activities.activities.AddProfileActivity"
            android:label="@string/addProfile_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>